*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(245, 239, 186);
    margin: 20px;

}

.pare {
    display: flex;
    flex-flow: column nowrap;
}

    .header {
        display: flex;
        flex-flow: column nowrap;
        background-image: url(imatges/cap.jpg); 
        background-position: 50% 55%;
        margin-bottom: 20px;
        padding-top: 10px;
      
}
        .menu {
            display: flex;
            flex-flow: row nowrap;
     
}
            .logo {
                flex: 1 1 auto;
                padding-left: 50px;
            }

                .logo img {
                    width: 70px;
                }

            .nav {
                flex: 5 1 auto;
                display: flex;
 
            }

                .nav ul {
                    display: flex;
                    flex-wrap: wrap;
   
                }

                    .nav ul li {
                        padding: 20px;
                    }

            .social {
                flex: 1 1 auto;
                padding-top: 20px;

             
            }

                .social img {
                    height: 20px;
  
 
            }

        .textprincipal {
            text-align: center;
            height: 200px;
            display: flex;
            justify-content: center;
            padding: 50px;


        }
            h1 {
                font-size: 25px;
                background-color: rgba(184, 169, 169, 0.103);
                height: 80px;
                width: 75%;
                text-align: center;
                padding: 20px;
                color:  rgba(187, 60, 60, 0.664);
            }

    .section {
        background: rgb(190, 188, 188);
        display: flex;
        padding: 20px;

}
        .articulos {
            background: rgb(190, 188, 188);
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
            gap: 7px;
            padding-right: 15px;
        }
            .article{
                background: rgb(190, 188, 188);
                flex: 1 1 41%;
           
            }

                .article img {
                    width: 100%;
                }

                .article h4 {
                    background-color: rgb(187, 60, 60);
                }

                .article p {
                    background-color: rgb(104, 103, 103);
                }

            .navegacio {
                background: rgb(187, 60, 60);
                flex: 1 1 100%;
                margin-bottom: 8px;

            }

                .navegacio p {
                    font-size: 14px;
                    text-align: center;
        
                }
        aside {
            background: rgb(190, 188, 188);
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            gap: 10px;

        }
            .publicitat {
                background: #8a5845;
                color: white;
 
            }

                .publicitat p {
                    padding: 15px;
       
                }



    .footer {
}
        .peu {
            text-align: center;
        }

@media all and (max-width: 800px) {
    .section{
        flex-direction: column;
    }

@media all and (max-width: 600px) {
        .articulos {
            flex-direction: column;
        }
}